@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  @if $fallback {
    font-size: $fallback;
  }
  font-size: $responsive;
}

body{
    background:linear-gradient(rgba(141,153,174,0.5), rgba(141,153,174,0.4)), url(../images/background-boarding-mobile.jpg) no-repeat;
    background-size: 500px;
    font-family: Arial;
    margin:0;
}
.container{
  padding:30px 0px;
}
.header{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 2fr auto;
    align-items: center;
    justify-content: space-between;
    margin:0px 15px;
      h1{
          text-align: center;
          @include responsive-font(5vw, 15px, 45px, 30px);
      }
      img{
        width: 20vw;
        max-width: 150px;
      }
      .back{
        text-align: center;
        padding:10px;
        font-size:20px;
        text-decoration: none;
        color: black;
        background:rgba(1,1,1,0.1);
        border:1px solid black;
        box-shadow: 1px 1px 1px black;
        &:hover{
          background:rgba(255,255,255,0.1);
        }
        .back-button{
          width:25px;
          margin-bottom:-5px;
        }
      }
}

.list{
    width: 95%;
    margin:0 auto;
    @include responsive-font(3vw, 10px, 50px, 30px);
  ul{
    @include responsive-font(3vw, 10px, 25px, 30px);
      list-style-type: none;
      li {
        background: url("../images/paw.png") no-repeat left top;
        padding: 10px 0px 10px 70px;
        line-height:25px;
      }
  }
}
.prices{
  @include responsive-font(3vw, 10px, 25px, 30px);
  grid-column:2;
  text-align: center;
  font-style: italic;
  p{
    padding-bottom: 5px;
  }
  h3 , p{
    margin:5px;
  }
  h4{
    margin-top:10px;
  }
}

//CONTACT START//
#contact{
    text-align: center;
    background-color: #f0e98d;
    padding:20px 0px 30px 0px;
    .details{
        img{
            height: 100px;
        }
        p{
            margin-top:0;
        }
        a{
          text-decoration: none;
          color: #111;
        }
        .facebook{
          width:50px;
          height:50px;
        }
    }
}
.form{
    fieldset{
        width: 80vw;
        margin:0 auto;
        border:2px solid #111;
     legend{
          font-size: 40px;
          font-weight: 500;
    }
}
      input{
          height: 30px;
          width: 250px;
          text-align: center;
          margin-bottom: 10px;
      }
      textarea{
          width: 100%;
          margin-top: 0.8em;
          resize:none;
      }
      label{
          font-size: 25px;
      }
      .submit{
        width: 150px;
        height: 40px;
        cursor: pointer;
        margin: 0 auto;
        border: 2px solid white;
        -webkit-border-radius: 40px;
        border-radius: 40px;
        font-weight: 700;
        font-size: 1.6em;
        line-height: 1;
        color: white;
        text-shadow:1px 1px 1px black;
        box-shadow: 1px 1px 1px black;
        text-align: center;
        -o-text-overflow: clip;
        text-overflow: clip;
        letter-spacing: 1px;
        background: rgba(1,1,1,0.2);
          &:hover{
            transition:all 0.1s ease-in-out;
            transform:scale(1.1);
          }
          &:focus{
            outline:0;
          }
      }
}
#footer{
    display: grid;
    grid-template-columns: auto 2fr;
    color:white;
    text-shadow:0.5px 0.5px 1px black;
    background:#5e5d52;
    text-align: left;
    padding: 20px 25px;
    h4{
        @include responsive-font(4vw, 20px, 30px, 20px);
        display: inline-block;
        margin:5px;
        border-bottom:1px solid black;
    }
    ul{
        @include responsive-font(3vw, 13px, 15px, 15px);
        list-style-type: none;
        padding:0;
        margin:0;
        border-left: 1px solid black;
        li{
            a{
                padding:10px;
                display: inline-block;
                color: white;
                text-decoration: none;
                &:hover{
                    background:rgba(244,244,244,0.8);
                }

            }
        }
    }
    .site{
        margin-right: 20px;
        max-width: 100px;
    }
    .services ul{
        max-width: 300px;
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
        max-width: 300px;
    }
}
.copyright{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background:#5e5d52;
    padding:0px 10px;
    font-size: 12px;
    color: white;
    a{
        color:white;
    }
}

@media screen and (min-width: 500px){
  body{
    background:linear-gradient(rgba(141,153,174,0.6), rgba(141,153,174,0.4)), url(../images/background-boarding-mobile.jpg) no-repeat;
    background-size: cover;
  }
  .header{
    margin:0px 10% 0 3%;
    h1{
      margin-right: 10%;
      text-align: right;
    }
}
  .list{
    width: 80%;
    margin:0 15vw;
    max-width: 800px;
  }
  .prices{
    p{
      padding-bottom: 15px;
    }
  }
  #contact{
      display: flex;
      align-items:center;
      justify-content:center;
      padding:20px;
      .details{
          margin-right: 10%;
          font-size: 20px;
          img{
              width: 162px;
              height:141px;
          }
      }
      .form{
          fieldset{
          width: 50vw;
        }
      }
  }
  .copyright{
    font-size: 14px;
  }
}



@media screen and (min-width: 1025px){
  body{
    background:linear-gradient(rgba(141,153,174,0.6), rgba(141,153,174,0.4)), url(../images/background-boarding.jpg) no-repeat fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 1350px){
  .list{
    width:100%;
    margin:0 39vw;
  }
}