body {
  background-color: #ede576;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; }

.nav, .nav2 {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(100, 100, 150, 0);
  font-size: 16px;
  z-index: 10; }
  .nav ul, .nav2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; }
  .nav ul.opening, .nav2 ul.opening {
    display: block;
    padding-top: 0em;
    height: 30px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700; }
  .nav li, .nav2 li {
    border-bottom: 1px solid #f6f4e2; }
  .nav li:last-child, .nav2 li:last-child {
    border-bottom: none; }
  .nav a, .nav2 a {
    color: #eee;
    font-weight: bold;
    display: block;
    padding: 10px;
    text-decoration: none;
    background: rgba(20, 20, 20, 0.9); }
  .nav a:hover, .nav2 a:hover, .nav nav a:focus, .nav2 nav a:focus {
    color: #ede576; }

.nav2 {
  position: relative;
  display: none; }

/* CSS MENU TOGGLE*/
.menu-toggle {
  position: fixed;
  padding: 1.5em;
  top: 0em;
  right: 0em;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0px 0px 0px 10px; }

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #111;
  height: 3px;
  width: 2em;
  border-radius: 1px;
  -webkit-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms; }

.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px); }

.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px); }

.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.open .hamburger::before {
  display: none; }

.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg); }

.container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto; }

#hero {
  display: table;
  position: relative;
  background: url("images/hero/hero-image-mobile.jpg") no-repeat, linear-gradient(to right, #E1F5C4, #EDE574);
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 139%;
  border-bottom: 5px solid white; }

.logo {
  position: absolute;
  width: 42%;
  top: -0.7em;
  left: -25px; }

.hero-title {
  position: absolute;
  top: 49%;
  left: 45%;
  width: 25%;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
  font-size: 5vw;
  color: #222;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42); }

.offer {
  z-index: 1000;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  border: 2px dashed red; }
  .offer p {
    font-size: 12px;
    width: 100%; }
  .offer button {
    position: absolute;
    box-shadow: none;
    background-color: rgba(1, 1, 1, 0);
    top: 0;
    right: 0; }

.box {
  position: fixed;
  top: 86%;
  bottom: auto;
  left: 10%;
  right: 10%;
  background-color: #fff;
  color: #7F7F7F;
  padding: 10px 20px;
  border: 2px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-box-shadow: 0 1px 5px #333;
  -webkit-box-shadow: 0 1px 5px #333;
  z-index: 101; }
  .box h1 {
    font-size: 20px;
    border-bottom: 1px dashed #7F7F7F;
    margin: -20px -20px 0px -20px;
    padding: 3px;
    background-color: #FFEFEF;
    color: #EF7777;
    -moz-border-radius: 20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px; }
  .box p {
    color: #111;
    margin: 5px 0px 0px 0px;
    padding: 0px; }

a.boxclose {
  float: right;
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px; }

.boxclose:before {
  content: "\00d7"; }

#about {
  background: radial-gradient(#E1F5C4, #EDE574);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "title title title" "aboutMe1 aboutMe1 aboutMe1" "aboutImages aboutImages aboutImages" "aboutMe2 aboutMe2 aboutMe2";
  padding: 0px 5%; }
  #about img {
    margin: 0 auto; }
  #about h1 {
    grid-area: title;
    font-size: 30px;
    font-size: 4vw;
    margin: 20px 0px 0px 0px; }
    @media (max-width: 450px) {
      #about h1 {
        font-size: 18px; } }
    @media (min-width: 1250px) {
      #about h1 {
        font-size: 50px; } }
  #about .about-images {
    height: auto;
    grid-area: aboutImages;
    position: relative; }
  #about .about-me-center-img, #about .about-me-left-img, #about .about-me-right-img {
    width: 30vw;
    max-width: 300px;
    margin-bottom: 0px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
    grid-area: img2;
    box-shadow: -1px 0px 1px black; }
  #about .about-me-left-img {
    grid-area: img1;
    position: absolute;
    right: 60%;
    left: 0;
    top: 10%; }
  #about .about-me-right-img {
    grid-area: img3;
    position: absolute;
    right: 0%;
    left: 60%;
    top: 10%; }
  #about .about-me1 {
    grid-area: aboutMe1;
    margin-bottom: 5px; }
  #about .about-me2 {
    grid-area: aboutMe2; }

#experience {
  background: linear-gradient(rgba(141, 153, 174, 0.6), rgba(141, 153, 174, 0.3)), url("images/ron-m.jpg") no-repeat;
  background-size: cover;
  background-position: -130px 0px;
  color: white;
  text-shadow: 1px 1px 1px black; }
  #experience ul {
    list-style-type: none;
    padding: 0px 20px;
    text-align: center; }
    #experience ul li {
      padding: 5px; }

#services {
  padding: 30px 0px 0px 0px;
  background: #e1f5c4; }
  #services h1 {
    font-size: 30px;
    font-size: 5vw;
    margin: 5px; }
    @media (max-width: 400px) {
      #services h1 {
        font-size: 20px; } }
    @media (min-width: 1000px) {
      #services h1 {
        font-size: 50px; } }
  #services p {
    font-size: 0.8em;
    width: 70vw;
    margin: 5px auto 20px auto; }
  #services a {
    font-size: 20px;
    font-size: 3vw; }
    @media (max-width: 666.6666666667px) {
      #services a {
        font-size: 20px; } }
    @media (min-width: 1000px) {
      #services a {
        font-size: 30px; } }
    #services a:focus {
      outline: none; }

.service-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px; }
  .service-item-container .service-item {
    text-decoration: none;
    color: #111;
    margin: 10px;
    width: 40%;
    font-weight: 700; }
    .service-item-container .service-item img {
      width: 100%;
      border: 1.5px solid black;
      border-radius: 10px; }
      .service-item-container .service-item img:hover {
        filter: grayscale(100%); }

.areas-covered {
  padding-bottom: 20px; }
  .areas-covered h2 {
    margin-bottom: 5px; }
  .areas-covered img {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    width: 100%; }

#gallery {
  background: radial-gradient(#E1F5C4, #EDE574); }
  #gallery h1 {
    padding-top: 10px;
    font-size: 30px;
    font-size: 4vw; }
    @media (max-width: 500px) {
      #gallery h1 {
        font-size: 20px; } }
    @media (min-width: 1250px) {
      #gallery h1 {
        font-size: 50px; } }
  #gallery .slider {
    width: 96vw;
    margin: 0px auto 30px auto;
    text-align: center; }

#testimonials {
  background: #e1f5c4;
  padding-bottom: 30px; }
  #testimonials h1 {
    padding-top: 10px;
    font-size: 30px;
    font-size: 4vw; }
    @media (max-width: 500px) {
      #testimonials h1 {
        font-size: 20px; } }
    @media (min-width: 1250px) {
      #testimonials h1 {
        font-size: 50px; } }

.testimonial-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

figure.quote {
  font-family: 'Raleway', Arial, sans-serif;
  flex: 1 1 10%;
  position: relative;
  overflow: hidden;
  margin: 10px 5%;
  min-width: 220px;
  max-width: 510px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important; }
  figure.quote * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  figure.quote img {
    max-width: 100%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative; }
  figure.quote blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 40px 65px 40px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  figure.quote .owner {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #222; }
  figure.quote .owner h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800; }
  figure.quote .owner h5 span {
    font-weight: 400;
    text-transform: none;
    display: block; }

figure.quote blockquote:before,
figure.quote blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal; }

figure.quote blockquote:before {
  top: 35px;
  left: 13px; }

figure.quote blockquote:after {
  content: "\201D";
  right: 35px;
  bottom: 35px; }

#contact {
  padding: 20px 0px 30px 0px; }
  #contact .details .ppplogo {
    height: 100px; }
  #contact .details p {
    margin-top: 0; }
  #contact .details a {
    text-decoration: none;
    color: #111; }

.form fieldset {
  width: 80vw;
  margin: 20px auto;
  border: 2px solid #111; }
  .form fieldset legend {
    font-size: 40px;
    font-weight: 500; }
.form input {
  height: 30px;
  width: 250px;
  text-align: center;
  margin-bottom: 10px; }
.form textarea {
  width: 100%;
  margin-top: 0.8em;
  resize: none; }
.form label {
  font-size: 25px; }
.form .submit {
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid white;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1;
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px black;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(1, 1, 1, 0.2); }
  .form .submit:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.1); }
  .form .submit:focus {
    outline: 0; }

#footer {
  display: grid;
  grid-template-columns: auto 2fr;
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
  background: #5e5d52;
  text-align: left;
  padding: 20px 25px; }
  #footer h4 {
    font-size: 20px;
    font-size: 4vw;
    display: inline-block;
    margin: 5px;
    border-bottom: 1px solid black; }
    @media (max-width: 500px) {
      #footer h4 {
        font-size: 20px; } }
    @media (min-width: 750px) {
      #footer h4 {
        font-size: 30px; } }
  #footer ul {
    font-size: 15px;
    font-size: 3vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-left: 1px solid black; }
    @media (max-width: 433.3333333333px) {
      #footer ul {
        font-size: 13px; } }
    @media (min-width: 500px) {
      #footer ul {
        font-size: 15px; } }
    #footer ul li a {
      padding: 10px;
      display: inline-block;
      color: white;
      text-decoration: none; }
      #footer ul li a:hover {
        background: rgba(244, 244, 244, 0.8); }
  #footer .site {
    margin-right: 20px;
    max-width: 100px; }
  #footer .services ul {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5e5d52;
  padding: 0px 10px;
  font-size: 12px;
  color: white; }
  .copyright a {
    color: white; }

@media screen and (min-width: 500px) {
  #experience {
    background-position: 0; }

  .testimonial-flex {
    margin: 0 5%; }

  figure.quote {
    margin: 10px 1%; } }
@media screen and (min-width: 700px) {
  .box {
    left: 26%;
    right: 26%; }

  .menu-toggle {
    display: none; }

  .nav2 {
    display: block; }
    .nav2 ul {
      display: flex;
      justify-content: space-around;
      border-top: 5px solid white; }
    .nav2 li {
      border-bottom: none; }
    .nav2 a {
      background: none;
      color: #111;
      height: 10%; }
    .nav2 a:hover, .nav2 nav a:focus {
      color: #444; }

  #hero {
    background: url("images/hero/hero-image-medium.jpg") no-repeat, radial-gradient(#E1F5C4, #EDE574);
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 50%;
    border-bottom: 5px solid white; }
    #hero .hero-title {
      font-size: 3.5vw;
      top: 33%;
      left: 37%;
      width: 30%; }
    #hero .logo {
      width: 23%;
      top: -4%;
      left: -1%; }
    #hero .offer {
      z-index: 1000;
      position: absolute;
      position: fixed;
      top: 0%;
      bottom: auto;
      left: 80%;
      right: 0;
      background: rgba(255, 255, 255, 0.5);
      border: 2px dashed red; }
      #hero .offer p {
        font-size: 12px;
        width: 100%; }

  .about-images {
    margin: 10px; }
    .about-images .about-me-center-img, .about-images #about .about-me-left-img, #about .about-images .about-me-left-img, .about-images #about .about-me-right-img, #about .about-images .about-me-right-img {
      max-width: 250px; }

  #experience {
    background: linear-gradient(rgba(141, 153, 174, 0.6), rgba(141, 153, 174, 0.2)), url("images/ron.jpg") no-repeat scroll;
    background-size: cover; }
    #experience ul {
      width: 85vw;
      max-width: 600px;
      margin-left: 60px;
      list-style-type: none;
      padding: 0;
      text-align: left; }
      #experience ul li {
        background: url("images/paw-white.png") no-repeat left top;
        height: 20px;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 70px; }

  .service-item-container {
    margin: 0px 32px; }
    .service-item-container .service-item {
      width: 30%; }

  .areas-covered {
    padding: 0px 10% 20px 10%; }
    .areas-covered img {
      border: 4px solid black;
      border-radius: 10px; }

  #gallery .slider {
    width: 85vw; }

  #contact {
    display: flex;
    align-items: center;
    justify-content: center; }
    #contact .details {
      margin-right: 30px;
      font-size: 20px; }
      #contact .details .ppplogo {
        width: 162px;
        height: 141px; }
    #contact .form fieldset {
      width: 50vw; }

  .copyright {
    font-size: 14px; } }
@media screen and (min-width: 1200px) {
  .box {
    left: 35%;
    right: 35%; }

  #experience {
    background-position: 0;
    background-attachment: fixed; }

  #experience ul {
    max-width: 620px; }

  .service-item-container {
    margin: 0px 150px; }

  .areas-covered {
    padding: 0px 20% 20px 20%; }
    .areas-covered img {
      border-radius: 10px; }

  #gallery .slider {
    width: 65vw; }

  #testimonials {
    padding: 10px 150px 50px 150px; } }
@media screen and (min-width: 1400px) {
  #hero {
    background: url("images/hero/hero-image-wide.jpg") no-repeat, radial-gradient(#E1F5C4, #EDE574);
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 40%; }
    #hero .hero-title {
      top: 32%;
      left: 28%;
      width: 40%; }
    #hero .logo {
      width: 20%;
      top: -4.5%; } }

/*# sourceMappingURL=ppp.css.map */
