body {
  background: linear-gradient(rgba(141, 153, 174, 0.7), rgba(141, 153, 174, 0.4)), url(../images/background-petsit-mobile.jpg) no-repeat;
  background-size: contain;
  font-family: Arial;
  margin: 0; }

.container {
  padding: 30px 0px; }

.header {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 2fr auto;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px; }
  .header h1 {
    text-align: center;
    font-size: 30px;
    font-size: 5vw; }
    @media (max-width: 300px) {
      .header h1 {
        font-size: 15px; } }
    @media (min-width: 900px) {
      .header h1 {
        font-size: 45px; } }
  .header img {
    width: 20vw;
    max-width: 150px; }
  .header .back {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    background: rgba(1, 1, 1, 0.1);
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    font-size: 20px;
    font-size: 4vw; }
    @media (max-width: 375px) {
      .header .back {
        font-size: 15px; } }
    @media (min-width: 500px) {
      .header .back {
        font-size: 20px; } }
    .header .back:hover {
      background: rgba(255, 255, 255, 0.1); }
    .header .back .fa-chevron-circle-left {
      margin-right: 5px; }

.list {
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  font-size: 3vw; }
  @media (max-width: 333.3333333333px) {
    .list {
      font-size: 10px; } }
  @media (min-width: 1666.6666666667px) {
    .list {
      font-size: 50px; } }
  .list .fa-paw {
    font-size: 10vw;
    max-width: 80px; }
  .list ul {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: 30px;
    font-size: 3vw;
    grid-column: 2;
    list-style-type: none;
    list-style: none;
    padding: 0; }
    @media (max-width: 333.3333333333px) {
      .list ul {
        font-size: 10px; } }
    @media (min-width: 833.3333333333px) {
      .list ul {
        font-size: 25px; } }
    .list ul li {
      margin: 15px;
      height: auto;
      list-style-position: outside; }

.prices {
  font-size: 30px;
  font-size: 3vw;
  grid-column: 2;
  text-align: center;
  font-style: italic; }
  @media (max-width: 333.3333333333px) {
    .prices {
      font-size: 10px; } }
  @media (min-width: 833.3333333333px) {
    .prices {
      font-size: 25px; } }
  .prices p {
    padding-bottom: 15px; }
  .prices h3, .prices p {
    margin: 5px; }

#contact {
  text-align: center;
  background-color: #f0e98d;
  padding: 20px 0px 30px 0px; }
  #contact .details img {
    height: 100px; }
  #contact .details p {
    margin-top: 0; }

.form fieldset {
  width: 80vw;
  margin: 0 auto;
  border: 2px solid #111; }
  .form fieldset legend {
    font-size: 40px;
    font-weight: 500; }
.form input {
  height: 30px;
  width: 250px;
  text-align: center;
  margin-bottom: 10px; }
.form textarea {
  width: 100%;
  margin-top: 0.8em;
  resize: none; }
.form label {
  font-size: 25px; }
.form .submit {
  width: 150px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid white;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 1;
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px black;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(1, 1, 1, 0.2); }
  .form .submit:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.1); }
  .form .submit:focus {
    outline: 0; }

#footer {
  display: grid;
  grid-template-columns: auto 2fr;
  color: white;
  text-shadow: 0.5px 0.5px 1px black;
  background: #5e5d52;
  text-align: left;
  padding: 20px 25px; }
  #footer h4 {
    font-size: 20px;
    font-size: 4vw;
    display: inline-block;
    margin: 5px;
    border-bottom: 1px solid black; }
    @media (max-width: 500px) {
      #footer h4 {
        font-size: 20px; } }
    @media (min-width: 750px) {
      #footer h4 {
        font-size: 30px; } }
  #footer ul {
    font-size: 15px;
    font-size: 3vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-left: 1px solid black; }
    @media (max-width: 433.3333333333px) {
      #footer ul {
        font-size: 13px; } }
    @media (min-width: 500px) {
      #footer ul {
        font-size: 15px; } }
    #footer ul li a {
      padding: 10px;
      display: inline-block;
      color: white;
      text-decoration: none; }
      #footer ul li a:hover {
        background: rgba(244, 244, 244, 0.8); }
  #footer .site {
    margin-right: 20px;
    max-width: 100px; }
  #footer .services ul {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px; }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5e5d52;
  padding: 0px 10px;
  font-size: 10px;
  color: white;
  text-align: right; }
  .copyright a {
    color: white; }

@media screen and (min-width: 700px) {
  body {
    background: linear-gradient(rgba(141, 153, 174, 0.6), rgba(141, 153, 174, 0.4)), url(../images/background-petsit.jpg) no-repeat scroll;
    background-size: cover; }

  .header {
    margin: 0px 10% 0 3%; }
    .header h1 {
      margin-right: 10%;
      text-align: right; }

  .list {
    width: 60%;
    margin: 0 35vw;
    max-width: 800px; }

  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    #contact .details {
      margin-right: 10%;
      font-size: 20px; }
      #contact .details img {
        width: 162px;
        height: 141px; }
    #contact .form fieldset {
      width: 50vw; } }

/*# sourceMappingURL=petsit.css.map */
